/* Utility классууд */
.circle_edge {
    border-radius: 10px;
}

.caption_answer {
    font-size: large;
}

.description_answer {
    font-size: medium;
    max-height: 50vh;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .description_answer {
        max-height: 30vh;
    }
}

@media (min-width: 1024px) {
    .description_answer {
        max-height: 20vh;
    }
}

/* ----------------- */

.container-content {
    background-color: #F0FFF1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.upper_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underside_container {
    height: 100%;
}