.container {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: fit-content; */
}

.circle_edge {
    border-radius: 10px;
}

.container-content {
    background-color: #F0FFF1;
    width: 100%;
    /* height: 100%; */
    /* margin: 2rem; */
    padding: 0 1.5rem 1.5rem 1.5rem;
    /* height: fit-content; */
}

.editBtn {
    position: relative;
    /* width: 20px; */
    /* height: 10px; */
    left: 95%;
    cursor: pointer;
    display: inline-block;
}

.editBtn::after {
    content: "...";
    position: absolute;
    transform: rotate(90deg);
    font-size: 24px;
    color: #333;
}

.caption_answer {
    font-size: large;
}

input {
    display: block;
    padding: 0.5rem;
    border: 1px solid black;
}

.description_answer {
    font-size: medium;
}

.container_editContentBtns {
    z-index: 999;
    position: relative;
    left: 100%;
    width: fit-content;
    display: inline-block;
}

.horizontal_line {
    background-color: #000;
    height: 1px;
}

.editContentBtns {
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem;
    width: 140px;
}