@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: blanchedalmond; */
}

#__next {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}